:root {
		--primary-color: rebeccapurple;
		--shadow-color: black;
		--accent-color: #c33e7b;
		--valid-color: green;
		--invalid-color: red;
	}
	* {
		margin: 0px;
		padding: 0px;
		font-family: helvetica;
	}
	.container {
		width: 400px;
		margin: auto;
	}
	.checkbox {
		box-shadow: 0px 0px 0px 3px var(--shadow-color);
		border: 2px solid white;
		border-radius: 2px;
		width: 12px;
		height: 12px;
		margin: 3px;
		text-indent: 25px;
		display: flex;
		align-items: center;
		transition: all 0.1s cubic-bezier(.4,0,.2,1);
	}
	.checkbox:active {
		border-color: black;
	}
	.checkbox[selected="false"] {
		background: white;
	}
	.checkbox[selected="true"] {
		background: var(--primary-color);
	}
	.checkbox[selected="false"]:hover {
		background: whitesmoke;
	}
	.checkbox-list {
		padding: 8px;
		box-shadow: 0px 2px 6px #747474 inset;
	}
	.checkbox-list > div{
		margin-top: 8px;
	}
	.button {
		display: flex;
		justify-content: center;
		align-items: center;

		background: var(--primary-color);
		box-shadow: 0px 4px 0px 0px var(--shadow-color);
		border-radius: 4px;
		margin-bottom: 5px;
		padding: 4px 2px;
		width: 100px;
		
		text-align: center;
		color: white;
		
		transition: all 0.1s cubic-bezier(.4,0,.2,1);
	}
	.button.toggle[selected="true"] {
		transform: translateY(2px);
		box-shadow: 0px 2px 0px 0px var(--shadow-color);
	}
	.input {
		cursor: pointer;
		-webkit-user-select: none;
		-webkit-user-drag: none;
	}
	.button:hover {
		transform: translateY(-1px);
		box-shadow: 0px 5px 0px 0px var(--shadow-color);
	}
	.button.toggle[selected="false"]:hover {
		transform: translateY(-1px);
		box-shadow: 0px 5px 0px 0px var(--shadow-color);
	}
	.button:active {
		transform: translateY(3px) !important;
		box-shadow: 0px 1px 0px 0px var(--shadow-color) !important;
	}
	
	.text {
		width: 100px;
		border: 2px solid whitesmoke;
		margin-top: 22px;
		background-color: #f3f3f3;
	}
	.text input {
		border: none;
		width: 100px;
		padding: 4px;
		padding-bottom: 0px;
		background-color: transparent;
	}
	.text input:focus {
		outline: none;
	}
	.underline {
		margin: auto;
		height: 2px;
		width: 10%;
		background-color: var(--invalid-color);
		display: block;
		content: " ";
		margin-bottom: 2px;
		transition: all 0.2s cubic-bezier(.4,0,.2,1);
	}
	input:focus ~ .underline, input:valid ~ .underline {
		background-color: var(--valid-color);
		width: 90%;
	}
	input:invalid ~ .underline {
		background-color: var(--invalid-color) !important;
	}
	.label {
		position: absolute;
		font-size: 13px;
		font-weight: bold;
		color: #aaa;
		transform: translate(5px, -20px);
		pointer-events: none;
		transition: all 0.2s cubic-bezier(.4,0,.2,1);
	}
	input:focus ~ .label, input:valid ~ .label {
		transform: translate(1px, -38px);
		color: var(--primary-color);
		font-size: 11px;
	}
	.visible {
		opacity: 1;
	}
	.invisible {
		opacity: 0;
	}